.input-hint {
  font-size: 11px;
  color: #ca8a04;
  letter-spacing: -0.01em;
  font-weight: 400;
}

.input-error {
  font-size: 11px;
  color: var(--color-destructive);
  letter-spacing: -0.01em;
  font-weight: 400;
}

.auth-input-error {
  font-size: 11px;
  color: rgba(255, 69, 69, 1);
  font-weight: 400;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;
  /* height: 10px; */
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,
      var(--gold),
      var(--ink-2),
      var(--ink),
      var(--ink-2),
      var(--gold));

  border-radius: 100%;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    var(--ink-soft),
    var(--ink-2),
    var(--ink),
    var(--ink-2),
    var(--ink-soft)
  );
}

@layer utilities {
  @keyframes shrink {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  .animate-shrink {
    animation: shrink 6s linear forwards;
  }

  @keyframes pulse-line {

    0%,
    100% {
      opacity: 0.3;
      transform: scaleX(0.8);
    }

    50% {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  .animate-pulse-line {
    animation: pulse-line 2s ease-in-out infinite;
    transform-origin: center;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 0.9;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 1.5s ease-out forwards;
  }
}